:root {
    h1{
        color: rgb(12, 101, 72);
    }

    /* media (width >= 68px) {
        --sl-sidebar-pad-x: 1rem;
        --sl-sidebar-width: 8.75rem;
    } */
    
  }

  .starlight-aside__content,.starlight-aside__title{
    font-size: small;
  }


p:has(img) {
  display: flex;
  /* align-items: center; This is an optional but very useful property to vertically center the image and text */
  justify-content: center;
}