:root {
    h1{
        color: salmon;
    }

    /* media (width >= 68px) {
        --sl-sidebar-pad-x: 1rem;
        --sl-sidebar-width: 8.75rem;
    } */
    
  }

  .starlight-aside__content,.starlight-aside__title{
    font-size: small;
  }